<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid">
  <app-banner [text]="'Galeria de fotos'" [background]="true"></app-banner>
  <div class="row" *ngIf="!loading">
    <div
      class="photo  col-lg-4 col-md-6 col-sm-12"
      *ngFor="let item of respuesta | paginate: { itemsPerPage: 9, currentPage: pageInit }"
    >
      <img class="image" [src]="item.webformatURL" alt="" />
    </div>
  </div>
  <div>
    <pagination-controls
      (pageChange)="pageInit = $event"
      class="d-flex justify-content-center mt-4 mb-2"
    >
    </pagination-controls>
  </div>
</div>
