<div class=" card-deck my-3">
  <div class="card">
    <img class="card-img-top" src="../../../../assets/img/queen.jpg" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Habitación simple</h5>
      <p class="card-text">
        La habitación está equipada con aire acondicionado, calefacción, TV LED por cable y minibar,
        además de Wi-Fi gratis y baño privado.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Aire Acondicionado - Piscina - WIFI gratis </small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../../assets/img/double.jpg" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Habitación doble</h5>
      <p class="card-text">
        La habitación está equipada con aire acondicionado, calefacción, TV LED por cable y minibar,
        además de Wi-Fi gratis y baño privado.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Aire Acondicionado - Piscina - WIFI gratis </small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../../assets/img/souite.jpg" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Habitación Suite</h5>
      <p class="card-text">
        Con cama king size e hidromasaje, esta habitación está equipada con aire acondicionado,
        calefacción, TV LED por cable y minibar, además de Wi-Fi gratis.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"
        >Aire Acondicionado - Piscina - WIFI gratis - Desayuno incluido - Bañera de hidromasaje -
        Set para preparar té / café</small
      >
    </div>
  </div>
</div>
