<div class=" card-deck my-3">
  <div class="card">
    <img class="card-img-top" src="https://www.hotelsofgreece.com/crete/atrion/hotel-atrion.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Habitación simple</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Aire Acondicionado - Piscina - WIFI gratis </small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.hotelsofgreece.com/crete/atrion/hotel-atrion.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Habitación doble</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Aire Acondicionado - Piscina - WIFI gratis

      </small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.hotelsofgreece.com/crete/atrion/hotel-atrion.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Habitación Suite</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Aire Acondicionado - Piscina - WIFI gratis - Desayuno incluido</small>
    </div>
  </div>
</div>