<!--  GALLERY --------------------------------------------------------------- -->

<div class="row">
  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">
    <!--Modal: Name-->
    <div
      class="modal fade"
      id="modal2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                style="padding: 6px 70px; "
                class="embed-responsive-item"
                src="../../../assets/img/instalaciones-1.jpg"
              ></iframe>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <h3 class="text-modal">Bar 24 horas</h3>
            <button
              type="button"
              class="btn btn-outline-success btn-rounded btn-md ml-4"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: Name-->

    <a
      ><img
        class="img-fluid z-depth-1"
        src="../../../assets/img/instalaciones-1.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal2"
    /></a>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <!--Modal: Name-->
    <div
      class="modal fade"
      id="modal5"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                style="padding: 6px 70px; "
                class="embed-responsive-item"
                src="../../../assets/img/instalaciones-2.jpg"
              ></iframe>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <h3 class="text-modal">Sala de estar con juegos</h3>
            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-md ml-4"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: Name-->

    <a
      ><img
        class="img-fluid z-depth-1"
        src="../../../assets/img/instalaciones-2.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal5"
    /></a>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">
    <!--Modal: Name-->
    <div
      class="modal fade"
      id="modal3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                style="padding: 6px 70px; "
                class="embed-responsive-item"
                src="../../../assets/img/instalaciones-3.jpg"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer d-block d-md-flex justify-content-center">
            <h3 class="text-modal">Restaurante a la carta</h3>

            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-md ml-4"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: Name-->

    <a
      ><img
        class="img-fluid z-depth-1 "
        src="../../../assets/img/instalaciones-3.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal3"
    /></a>
  </div>
  <!-- Grid column -->
</div>

<div class="row">
  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">
    <!--Modal: Name-->
    <div
      class="modal fade"
      id="modal1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                style="padding: 6px 70px; "
                class="embed-responsive-item"
                src="../../../assets/img/instalaciones-4.jpg"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <h3 class="text-modal">Piscina con solarium</h3>

            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-md ml-4"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: Name-->

    <a
      ><img
        class="img-fluid z-depth-1"
        src="../../../assets/img/instalaciones-4.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal1"
    /></a>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">
    <!--Modal: Name-->
    <div
      class="modal fade"
      id="modal4"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                style="padding: 6px 70px; "
                class="embed-responsive-item"
                src="../../../assets/img/instalaciones-5.jpg"
              ></iframe>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <h3 class="text-modal">Restaurante Buffet</h3>

            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-md ml-4"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: Name-->

    <a
      ><img
        class="img-fluid z-depth-1"
        src="../../../assets/img/instalaciones-5.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal4"
    /></a>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">
    <!--Modal: Name-->
    <div
      class="modal fade"
      id="modal6"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                style="padding: 6px 70px; "
                class="embed-responsive-item"
                src="../../../assets/img/instalaciones-6.jpg"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer d-block d-md-flex justify-content-center">
            <h3 class="text-modal">Gimnasio 24 horas</h3>

            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-md ml-4"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: Name-->

    <a
      ><img
        class="img-fluid z-depth-1 "
        src="../../../assets/img/instalaciones-6.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal6"
    /></a>
  </div>
  <!-- Grid column -->
</div>
