<app-carousel></app-carousel>

<app-banner [icon]="imageRoom" [background]=true [text]="'Nuestras habitaciones'"></app-banner>


<app-room></app-room>

<!-- BANNER GALLERY --------------------------------------------------------------- -->
<div class="jumbotron">


  <app-banner [icon]=imageGallery [text]="'Galería de fotos'"></app-banner>

  <app-space></app-space>
  <app-gallery></app-gallery>
  <app-space></app-space>

</div>

<!--  /GALLERY --------------------------------------------------------------- -->