<div class="container-fluid ">
  <app-banner [text]="'Reserva'" [background]=true [icon]="reserveIcon"></app-banner>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 borde">
      <form mx-3>

        <div class="form-group">
          <label>Tipo de habitación</label>
          <select class="form-control" id="room_type" onchange="finalCost()">
            <option selected>Selecciona el tipo de habitación </option>
            <option value={{s}} *ngFor="let s of styleRoom"> {{s}} </option>
          </select>
        </div>

        <div class="form-group">
          <label>Cantidad de habitaciones</label>
          <select class="form-control" id="room_number" onchange="finalCost()">
            <option value={{n}} *ngFor="let n of quantity"> {{n}} </option>
          </select>
        </div>

        <div class="form-group">
          <label>Adultos por habitación</label>
          <select class="form-control" id="person_number" onchange="finalCost()">
            <option value={{n}} *ngFor="let n of quantity">{{n}} </option>

          </select>
        </div>

        <div class="form-group">
          <label>Menores por habitación</label>
          <select class="form-control" id="child_number" onchange="finalCost()">
            <option value={{n}} *ngFor="let n of childs"> {{n}} </option>

          </select>
        </div>

        <div class="form-group">
          <label>Alguna persona desea media pensión?</label>
          <select class="form-control" id="res_facilities" onchange="finalCost()">
            <option selected> Seleccionar </option>
            <option value="1"> Si </option>
            <option value="0"> No </option>
          </select>
        </div><br>

        <div class="form-group">
          <label>Cuantas Personas con media pensión</label>
          <select class="form-control" id="res_facilities" onchange="finalCost()">
            <option selected> seleccionar la cantidad? </option>
            <option value={{r}} *ngFor="let n of [1,2,3,4,5]"> {{n}} </option>

          </select>
        </div><br>

        <div class="form-group">
          <label>Costo total : </label>
          <span id="result"
            style="background-color: rgb(240, 122, 22);color: #fff;padding: 6px 70px;font-weight: 600;font-size: 18px; margin-left: 10px;border-radius: 5px;">0</span>
        </div>




      </form>
    </div>
  </div>

</div>