<div class="col-md-12 ">
  <div class="row text-center ">
    <div class="col-md-4 border border-primary pt-4">
      <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
      <p>Villa Yacanto, Córdoba</p>
      <p>Argentina</p>
    </div>

    <div class="col-md-4 border border-primary pt-4">
      <a class="btn-floating blue accent-1 "><i class="fas fa-phone"></i></a>
      <p>+ (54) 351 2459162</p>
      <p>Lunes a domingo, 8:00-22:00</p>
    </div>

    <div class="col-md-4 border border-primary pt-4">
      <a class="btn-floating blue accent-1 "><i class="fas fa-envelope"></i></a>
      <p>info@hotelduraznito.com</p>
      <p>ventas@hotelduraznito.com</p>
    </div>
  </div>
</div>
