.qr {
  width: 300px;
  height: 300px;
}

.reserva {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 80px;
  background-image: linear-gradient(to right, rgba(243, 243, 243), white);
}

.logo {
  width: 250px;
  height: 150px;
}

.terms {
  background-color: rgb(214, 214, 214);
}

.map {
  width: 800px;
  height: 600px;
}

.dateCheck {
  font-size: 24px;
  text-align: left;
  margin-top: 40px;
  margin-left: 10px;
}
