<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-3 offset-5">
        <h5>Accesos Rápidos</h5>
        <ul class="list-unstyled quick-links  ">
          <li>
            <a [routerLink]="['/home']"><i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a [routerLink]="['/about']"><i class="fa fa-angle-double-right"></i>Sobre nosotros</a>
          </li>
          <li>
            <a [routerLink]="['/contacto']"><i class="fa fa-angle-double-right"></i>Contacto</a>
          </li>
          <li>
            <a [routerLink]="['/fotos']"><i class="fa fa-angle-double-right"></i>Fotos</a>
          </li>
          <li>
            <a [routerLink]="['/login']"><i class="fa fa-angle-double-right"></i>Login</a>
          </li>
          <li>
            <a [routerLink]="['/sign-up']"><i class="fa fa-angle-double-right"></i>Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.google.com;"><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>
          <u><a href="http://front-hotel.herokuapp.com/">Hotel Duraznito</a></u> es un sitio
          registrado de la sociedad Frutales SA de Córdoba, Argentina
        </p>
        <p class="h6">2019 Argentina<a class="text-green ml-2" target="_blank"></a></p>
      </div>
      <hr />
    </div>
  </div>
</section>
